@function color($state, $brightness: 0, $opacity: 1) {
  @if (null == index(map-keys($color-palette), $state)) {
    @debug "Invalid color name: '#{$state}', using default color instead.";
    $state: dark;
  }

  @if (type_of($brightness) != number or $brightness > 100 or $brightness < -100) {
    @debug "Invalid brightness: '#{$brightness}', using 0 instead.";
    $brightness: 0;
  }

  @if (type_of($opacity) != number or $opacity > 1 or $opacity < 0) {
    @debug "Invalid opactity: '#{$opacity}', using 1 instead.";
    $opacity: 1;
  }

  $color: map-get($color-palette, $state);

  @if ($brightness > 0) {
    $color: darken($color, $brightness);
  } @else if ($brightness < 0) {
    $brightness: $brightness * (-1);
    $color: lighten($color, $brightness);
  }

  @if ($opacity != 1) {
    $color: rgba($color, $opacity);
  }

  @return $color;
}
